<launch>
   <node pkg="usb_cam" type="usb_cam_node" name="diffty_front_camera" output="screen">
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="framerate" value="20"/>
    <param name="autofocus" value="false"/>
   </node>
   <node pkg="rqt_image_view" type="rqt_image_view" name="diffty_image_review" if="$(arg review)"/>
</launch>
